
<% if flash[:location].nil? %>

    if($("form.user_login").siblings("p.alert.alert-error").length > 0)
        $("form.user_login").siblings("p.alert.alert-error").html("<%= escape_javascript(flash[:error]) %>");
    else{
        error = "<p class='alert alert-error'><%= escape_javascript(flash[:error]) %></p>";
        $("form.user_login").before(error);
    }


<% elsif flash[:location] == 'terms' %>

    var modal = $("div#modal");

    $(modal).modal({
        keyboard: false,
        backdrop: 'static'
    });

    $(modal).html('<%= escape_javascript(render :template => "recruiters/ajax_form/terms.html.erb", :formats => [:html], :locals=>{:terms_path=> terms_path ,:recruiter => @current_user}) %>');

    $(modal).children('div.modal-body').css('max-height', '585px');

    var modal_height = $(modal).height();
    var height = 700;

    var modal_top = (height / 2) - (modal_height / 2);

    $(modal).css('top', modal_top + "px");
    $(modal).modal('show');

<% else %>
    window.location = '<%= flash[:location] %>'
<% end %>


