$("form.change_password").siblings("p.alert").addClass('<%= escape_javascript(flash[:result]) %>').html('<%= escape_javascript(flash[:message]) %>').show();
$("form.change_password")[0].reset();

if($("form.change_password").siblings("p.alert").hasClass('alert-success')){
    $("form.change_password").siblings("a").hide();
    $("form.change_password").siblings("p.alert.alert-success").html("Please wait. You will be redirected to Login page or click <a href='/'>here</a>");
    $("form.change_password").remove();
    $("form.change_password").siblings("h4").html("CodingDojo's network");

    setTimeout( function(){
                window.location = '<%= signin_path %>';
    }, 3000)
}

