@import "bootstrap";

*{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	vertical-align: baseline;
	font-color:black;
}

.navbar-inverse{
	.brand{
		color:#eeeeee;
	}
	.brand:hover{
		color: #999999;
	}
}

.clear{
	clear: both;
}

body{
	background-image: url("/assets/subtle_carbon.jpg");
}