@import "bootstrap";

*{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	vertical-align: baseline;
	font-color:black;
}

.navbar-inverse{
	.brand{
		color:#eeeeee;
	}
	.brand:hover{
		color: #999999;
	}
}

.clear{
	clear: both;
}

body{
	background-image: url("/assets/subtle_carbon.jpg");
}

.alt_wrapper{
	width:980px;
	background-color:white;
	margin:10px auto;
	padding:10px;
	border-radius:10px;

	.input {
		input, textarea{
			width:500px;
		}
	}
}