#main_search{
	padding-right: 20px;
}
.wrapper{
  margin: 0 auto;
  margin-top: 40px;
  width: 960px;
  height: 625px;
  padding-top: 40px;
}

.wrapper .content{
    width: 929px;
    margin: 0 auto;
    min-height: 532px;
	background:
		url('/assets/small_profile_pictures/Angie.jpg') 0px 10px no-repeat,
		url('/assets/small_profile_pictures/Ben2.jpg') 192px 10px no-repeat,
		url('/assets/small_profile_pictures/Casey2.jpg') 384px 10px no-repeat,
		url('/assets/small_profile_pictures/Cory2.jpg') 576px 10px no-repeat,
		url('/assets/small_profile_pictures/Dilys.jpg') 768px 10px no-repeat,
		url('/assets/small_profile_pictures/Eva.jpg') 0px 140px no-repeat,
		url('/assets/small_profile_pictures/JT Theodore.jpg') 192px 140px no-repeat,
		url('/assets/small_profile_pictures/Ian2.jpg') 384px 140px no-repeat,
		url('/assets/small_profile_pictures/Jose2.jpg') 576px 140px no-repeat,
		url('/assets/small_profile_pictures/JT Platt3.jpg') 768px 140px no-repeat,
		url('/assets/small_profile_pictures/Eylem2.jpg') 0px 280px no-repeat,
		url('/assets/small_profile_pictures/Markuz.jpg') 192px 280px no-repeat,
		url('/assets/small_profile_pictures/Miles3.jpg') 384px 280px no-repeat,
		url('/assets/small_profile_pictures/Peter3.jpg') 576px 280px no-repeat,
		url('/assets/small_profile_pictures/Randall4.jpg') 768px 280px no-repeat,
		url('/assets/small_profile_pictures/Rick2.jpg') 0px 420px no-repeat,
		url('/assets/small_profile_pictures/Samson2.jpg') 192px 420px no-repeat,
		url('/assets/small_profile_pictures/Scott2.jpg') 384px 420px no-repeat,
		url('/assets/small_profile_pictures/Victor.jpg') 576px 420px no-repeat,
		url('/assets/small_profile_pictures/William2.jpg') 768px 420px no-repeat;
	background-size: 160px;
	overflow: auto;
}
h1{
    font-size: 20px;
    margin-top:0;
    margin-bottom: 30px;
}
div#user_login,
div#user_change_password{
	margin: 0 auto;
	margin-top:106px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
    width: 460px;
    padding: 20px;
}

    div#user_login h1,
    div#user_change_password h1{
        margin-bottom: 5px;
    }

    div#user_login form,
    div#user_change_password form,
    div#modal form{
        width: 389px!important;
        padding: 10px;
        margin: 5px 25px;
    }

    div#user_change_password form{
        margin: 5px;
        width: 440px!important;
    }

    div#user_login p.alert.alert-error,
    div#user_change_password p.alert.alert-error,
    div#modal p.alert.alert-error{
      min-height: 20px;
    }

    div#modal p.alert,
    div#user_change_password p.alert{
      display: none;
    }

div#user_login form div.control-group label.control-label,
        div#user_change_password form div.control-group label.control-label,
        div#modal form div.control-group label.control-label{
            text-align: left!important;
            width: 50px!important;
        }

        div#user_change_password form div.control-group label.control-label{
            width: 140px!important;
        }

        div#user_login form div.control-group .controls,
        div#user_change_password form div.control-group .controls,
        div#modal form div.control-group .controls{
            margin-left: 90px;
        }

        div#user_login form div.control-group a{
           font-size: 11pt;
           margin-top: 6px;
           margin-right: 20px;
           color: black;
           text-decoration: underline;
        }

.terms_and_condition{
  width: 526px;
  height: 460px;
}



div#modal form{
  width: 490px !important;
  margin: 10px;
}


div#modal  form.approve_terms{
  width: 530px!important;
  padding: 0;
  margin: 20px 0 0 0;
}
    div#modal  form.approve_terms div.controls{
      margin-left: 0!important;
    }