// from the dashboard
.wrapper{
    margin: 0 auto;
    width: 960px;
}
.main_wrapper{
    padding-top: 67px;

    p, h1, h2, label{
        color:white;
    }
    .error{
        color:red;
    }
    input{
        margin-right: 15px;
    }
}
#main_search{
    padding-right: 20px;
}

.dashboard_students{
    display: inline-block;
    float: right;
    width: 730px;

    .right{
        display: inline-block;
        text-align: right;
        margin-left:575px;
        margin-bottom: 5px;
    }
    h4{
        padding-left: 20px;
        margin-left: 20px;
        margin-right: 10px;
    }

    img{
        width: 160px;
        height: 107px;
    }

    ul{
        list-style: none;
        display: inline-block;
        margin: 0;

        li{
            float: left;
            position: relative;
            padding: 0 0 20px 20px;
            cursor: pointer;

            p{
                font-weight: bold;
                font-size: 13px;
                position: absolute;
                width:140px;
                top: 87px;
                margin: 0 auto;
                padding-left: 20px;
                background-color: rgba(255, 255, 255, 0.8);
            }

            a{
                color:black;

                p{
                    color:black;
                }
                p:hover{
                    color:#777777;
                }
            }
        }
    }
    span.student_belt{
        background-image: image-url('border_belts/white_border.png');
        width: 160px;
        height: 107px;
        position: absolute;
        top: -7px;
        left: 26px;

    }
    span.yellow_belt {
        background-image: image-url('border_belts/yellow_border.png') !important;
    }
    span.green_belt {
        background-image: image-url('border_belts/green_border.png') !important;
    }
    span.red_belt {
        background-image: image-url('border_belts/red_border.png') !important;
    }
    span.black_belt {
        background-image: image-url('border_belts/black_border.png') !important;
    }
}   //end of .dashboard_students


//for showing the list of skills on the dashboard page
#skill_search{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    width: 190px;
    float: left;

    label{
        font-size: 11px;
        display: block;
        margin-left: 30px;
        color:black;
    }

    label.belt{
        font-weight: bold;
        font-size: 13px;
        margin-left: 0px;

        input[type="checkbox"]{
            margin: 0;
            margin-right: 10px;
        }
    }
}

// from the show student css file
.student_profile{

    ul{
        list-style-type: none;

        li{
            display: inline-block;

            a{
                color: black;
                font-size: 13px;
                font-weight: bold;
                margin-left: 20px;
            }
        }
    }

    .main_profile{
        margin:0px 0px 55px;

        img.main-photo{
        width:275px;   
        vertical-align: top;
        }
    }

    .student_info{
        margin: 0px;
        display:inline-block;
        width: 660px;
        padding: 0px;
        min-height:190px;
        margin-left: 20px;
        color:white;

        h2{
        font-size:18px;
        margin:10px 0px; 
        }

        p{
        margin:10px 0px;
        }
    } //end of .student_info for the show student page

    .certified{

        ul.video-list{
            margin: 10px 0px;
        }
        ul.video-list li p{
            font-size:13px;
            text-align:center;
            background:rgba(227,227,227, 0.8);
            position:absolute;
            width:218px;
            height:20px;
            margin-top:-25px;
            margin-left:12px;
            font-weight:bold;
            color:black;
        }
        .profile-video{
            width:217px;
            padding-left: 13px;
        }
        
        h3.title{
        padding-left:15px;
        }

        display:inline-block;
        vertical-align:top;
        background: rgba(255,255,255, .4);
        color:white;

        .belt-scores{
            display:inline-block;
            margin: 0px 18px 20px 18px;
            color:white;
            height: 300px;
            width: 200px;

            h3.score{
                height:40px;
            }
            .competencies{
                height:150px;

                ul li{
                    display:block;
                }
            }

            .white-belt, .yellow-belt, .green-belt, .red-belt, .black-belt{
                width: 148px;
                height: 148px;
                display: inline-block;
            }
            .white-belt h3, .yellow-belt h3, .green-belt h3, .red-belt h3, .black-belt h3{
                text-align:center;
                text-shadow: black 0.1em 0.1em 0.2em;
            }
            .white-belt{
                background:url('http://codingdojo.co/static/img/white_belt.png');
                background-size:cover;
            }
            .yellow-belt{
                background:url('http://codingdojo.co/static/img/yellow_belt.png');
                background-size:cover;
            }
            .green-belt{
                background:url('http://codingdojo.co/static/img/green_belt.png');
                background-size:cover;
            }
            .red-belt{
                background:url('http://codingdojo.co/static/img/red_belt.png');
                background-size:cover;
            }
            .black-belt{
                background:url('http://codingdojo.co/static/img/black_belt.png');
                background-size:cover;
            }
        } //end of .belt_scores

        .no-score{
            opacity:.4;
        }


        ul.belt-exams{
            background:none;
            margin:0px;
        }

    } //end of .certified for the student show page
} //end of .student_profile page for the student show page

.edit_profile{
    .well label{
        color:black;
    }
}

  .edit_profile .picture_box{
    position: relative;
    margin: 0 35px;

  }

      .edit_profile .picture_box img{
         width: 275px;
         height: 160px;
         margin-left: 2px;
      }

      .edit_profile .picture_box form.upload_picture{
        width: 275px;
        margin: 5px 0;
        color: #fff;
      }

        .edit_profile .picture_box form.upload_picture input[type='submit']{
          margin: 10px 0;
          width:50px;
        }

        .edit_profile .picture_box form.upload_picture input[type='file'],
        .edit_profile .picture_box form.upload_picture input[type='text']{
          line-height: 25px;
          width: 190px;
          margin-top: 10px;
          font-size: 12px;
          margin-right: 0;
        }

        .edit_profile .picture_box form.upload_picture input[type='text']{
            line-height: 13px;
            height: 13px;
        }

            .edit_profile .picture_box form.upload_picture div p{
                font-size: 12px;
                margin-bottom: 0;
            }

.edit_profile .picture_box form.upload_picture .upload_type{
  display: none;
}

      .edit_profile .picture_box form.upload_picture a.active{
         color: #fff;
      }


