// from the dashboard
.wrapper{
    margin: 0 auto;
    width: 960px;
}
.main_wrapper{
    padding-top: 67px;

    p, h1, h2, label{
        color:white;
    }
}
#main_search{
    padding-right: 20px;
}

.dashboard_students{
    display: inline-block;
    float: right;
    width: 730px;

    h4{
        padding-left: 20px;
        margin-left: 20px;
        margin-right: 10px;
    }

    img{
        width: 160px;
    }

    ul{
        list-style: none;
        display: inline-block;
        margin: 0;

        li{
            float: left;
            position: relative;
            padding: 0 0 20px 20px;
            cursor: pointer;

            p{
                font-weight: bold;
                font-size: 13px;
                position: absolute;
                width:140px;
                top: 87px;
                margin: 0 auto;
                padding-left: 20px;
                background-color: rgba(255, 255, 255, 0.8);
            }

            a{
                color:black;

                p{
                    color:black;
                }
                p:hover{
                    color:#777777;
                }
            }
        }
    }
}   //end of .dashboard_students


//for showing the list of skills on the dashboard page
#skill_search{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    float: left;

    label{
        font-size: 11px;
        display: block;
        margin-left: 30px;
        color:black;
    }

    label.belt{
        font-weight: bold;
        font-size: 13px;
        margin-left: 0px;

        input[type="checkbox"]{
            margin: 0;
            margin-right: 10px;
        }
    }
}

// from the show student css file
.student_profile{

    ul{
        list-style-type: none;

        li{
            display: inline-block;

            a{
                color: black;
                font-size: 13px;
                font-weight: bold;
                margin-left: 20px;
            }
        }
    }

    .main_profile{
        margin:0px 0px 55px;

        img.main-photo{
        width:275px;   
        vertical-align: top;
        }
    }

    .student_info{
        margin: 0px;
        display:inline-block;
        width: 660px;
        padding: 0px;
        min-height:190px;
        margin-left: 20px;
        color:white;

        h2{
        font-size:18px;
        margin:10px 0px; 
        }

        p{
        margin:10px 0px;
        }
    } //end of .student_info for the show student page

    .certified{

        ul.video-list{
            margin: 10px 0px;
        }
        ul.video-list li p{
            font-size:13px;
            text-align:center;
            background:rgba(227,227,227, 0.8);
            position:absolute;
            width:220px;
            height:20px;
            margin-top:-25px;
            margin-left:10px;
            font-weight:bold;
            color:black;
        }
        .profile-video{
            width:220px;
            padding-left: 13px;
        }
        
        h3.title{
        padding-left:15px;
        }

        display:inline-block;
        vertical-align:top;
        background: rgba(255,255,255, .4);
        color:white;
        text-decoration:underline;

        .belt-scores{
            display:inline-block;
            margin: 0px 18px 20px 18px;
            color:white;
            height: 300px;

            .competencies{
                height:150px;
            }

            .white-belt, .yellow-belt, .green-belt, .red-belt, .black-belt{
                width: 148px;
                height: 148px;
                display: inline-block;
            }
            .white-belt h3, .yellow-belt h3, .green-belt h3, .red-belt h3, .black-belt h3{
                text-align:center;
                text-shadow: black 0.1em 0.1em 0.2em;
            }
            .white-belt{
                background:url('http://codingdojo.co/static/img/white_belt.png');
                background-size:cover;
            }
            .yellow-belt{
                background:url('http://codingdojo.co/static/img/yellow_belt.png');
                background-size:cover;
            }
            .green-belt{
                background:url('http://codingdojo.co/static/img/green_belt.png');
                background-size:cover;
            }
            .red-belt{
                background:url('http://codingdojo.co/static/img/red_belt.png');
                background-size:cover;
            }
            .black-belt{
                background:url('http://codingdojo.co/static/img/black_belt.png');
                background-size:cover;
            }
        } //end of .belt_scores

        .no-score{
            opacity:.4;
        }


        ul.belt-exams{
            background:none;
            margin:0px;
        }
        .belt-exams tr td{
            font-size:14px;
            color: black;
        }
    } //end of .certified for the student show page
} //end of .student_profile page for the student show page

.edit_profile{
    .well label{
        color:black;
    }

    img{
        margin-left:45px;
        width: 275px;
    }
}