<% if !flash[:location].nil? %>
    $("form.user_login").siblings("p.alert.alert-error").hide();
    document.location = '<%= flash[:location] %>';
<% end %>


if($("form.user_login").siblings("p.alert.alert-error").length > 0)
    $("form.user_login").siblings("p.alert.alert-error").html("<%= escape_javascript(flash[:message]) %>");
else{
    error = "<p class='alert alert-error'><%= escape_javascript(flash[:message]) %></p>";
    $("form.user_login").before(error);
}

$("form.user_login")[0].reset();

var modal = $("div#modal");

//VERTICAL ALIGNMENT
var modal_height = $(modal).height();
var height = 625;

var modal_top = (height / 2) - (modal_height / 2);

$(modal).css('top', modal_top + "px");

$(modal).modal({
    keyboard: true,
    backdrop: true
});

$(modal).modal('hide');