<!DOCTYPE html>
<html>
<head>
  <title>Student Profile</title>
  <%= stylesheet_link_tag "bootstrap", "partial_top_menu_css", "students" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
